aiofiles
langid
beautifulsoup4
cachetools
colorama
cutlet
EbookLib
einops
ffmpeg
fsspec
hangul_romanize
huggingface_hub
ipython
librosa
networkx
num2words
opencc
packaging
pyloudnorm
pytest
pypinyin
safetensors>=0.4.5
sounddevice
soundfile
spacy==3.7.5
setuptools
torchaudio
tokenizers
transformers
vllm>=0.14.0
nvidia-ml-py
numpy
